<h1>Add a movie</h1>
<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie %>
  <%= f.input :comment, placeholder: 'Enter a comment about the movie' %>
  <%= f.button :submit %>
<% end %>
