.navbar-popcorn {
  justify-content: space-between;
  background: white;
}

.navbar-popcorn .navbar-collapse {
  flex-grow: 0;
}

.navbar-popcorn .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}
